body {
    margin:0;
    padding:0;
}
.text-wechat {
    color:#00c109;
}
.text-center{
    text-align:center;
}
.no-margins{
        margin:0!important;
    }
.padding-md {
    padding:15px;
}
.m-t-xs{
    margin-top:5px;
}
.m-t-md{
    margin-top:15px;
}
.border-right-none{
    border-right:none;
}
.border-left-none{
    border-left:none;
}
.bg-white{
    background-color:#fff;
}
input:focus{
    border-color:#ccc !important;
    box-shadow:none !important;
}
.noMeanline{
    border:0;
    border-top:1px solid #eee;
    margin-top:10px;
    margin-bottom:10px;
}
.text-orange{
    color:#ffa758;
}
.m-l-xs{
    margin-left:5px;
}
.p-h-xs {
    padding:10px 0;
}
.bg-blue{
    background-color:#5d93d6;
    color:#fff;
}
.text-danger{
    color:red;
}
.pull-right {
    float:right;
}
.flexLayout{
    display:flex;
    vertical-align:middle;
    align-items:center;
    justify-content:space-between;
}
.autoWidth {
    width:auto!important;
}
.border-bottom{
    border-bottom:1px solid #ccc;
}
.border-top{
    border-top:1px solid #ccc;
}
.no-border{
    border:none;
    box-shadow:none !important;
}
.clickFont{
    cursor:pointer;
    color:blue;
}
.no-wrap{
    white-space:nowrap;
}
.form-control[readonly]{
    background-color:#fff;
}
[id^="error_"]{
    display:none;
}